    * {
        margin: 0;
        padding: 0;
        font-family: 'Source Sans Pro' !important;
    }
    .header {
        height: 50px;
        list-style: none;
        background-repeat: no-repeat;
        background-image: url(nav-logo.svg);
    }
    .nav-items {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        font-size: 0.85rem;
        font-family: 'Source Sans Pro' !important;
    }
    .nav-links a {
        color: #333;
        text-decoration: none;
    }
    .nav-items ul li {
        margin: 0 3px 0;
        display: inline-block;
    }
    .selector {
        border: none;
    }
    .btn-decoration {
        border: none;
        color: white;
        height: 2.25rem;
        font-size: 1.05rem;
        border-radius: 5px;
    }
    .button-first {
        width: 100px;
        background-color: #46b749;
    }
    .button-second {
        width: 140px;
        background-color: #337ab7;
    }
    .button-third {
        width: 100px;
        background-color: #23315f;
    }
    .button-third:hover {
        background-color: #337ab7;
    }
    .first-container {
        width: 100%;
        height: 450px;
        display: flex;
        text-align: center;
        justify-content: center;
        background-image: url(https://s.rozee.pk/v6/i/banner_bg.webp);
    }
    .first-child {
        height: 50px;
        margin: 50px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(hero-img1.svg);
    }
    .first-child ul {
        padding: 80px 0;
        list-style: none;
    }
    .input-group input {
        border-radius: 0;
    }
    .btn-outline-secondary {
        border: none;
        width: 120px;
        background-color: #337ab7;
    }
    .hero-button {
        padding: 20px 0;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .hero-button a {
        padding: 25px;
        color: white;
        font-size: 1.15rem;
        border-radius: 100%;
        text-decoration: none;
        border: 2px solid white;
    }