        body{
            padding-left: 35px;
        }
        h1,span{
            display: inline-block;
        }
        .h1{
            font-family: monospace;
            font-size: 30px;
            font-style: italic;
            color: rgb(17, 161, 17); 
        }
        .child-span{
            font-size: 18px;
            padding: 0;
            margin: 38px;
        }
        select,span{
            padding: 0;
            margin: 35px;
        }
        input:hover,a:hover{
            background-color: rgb(58, 195, 72);
            cursor: pointer;
            color: black;
        }
        .size{
            font-size: 20px;
        }
        a{
            margin-right: 35px;
        }
        .width{
            width: 1250px;
        }
        .size2{
            color:  rgb(17, 161, 17);
            font-size: 50px;
        }
        .size3{
            color: rgb(85, 83, 83);
            font-size: 30px;
        }
        .radius{
            font-size: large;
            border: none;
            font-family: 'Times New Roman', Times, serif;
            border-radius: 8px;
            color: white;
            background-color: rgb(17, 161, 17);
            height: 40px;
        }
        h2{
            font-size: 30px;
        }
        p{
            font-size: 25px;
        }
        #hi{
            color:  rgb(17, 161, 17);
            font-size: 20px;
        }
        .table{
            background-color: rgb(219, 215, 215);
            width: 1200px;
        }
        .size4{
            height: 60px;
            font-size: 25px;
        }
        .size4 td img{
            width: 25px;
        }
        .Position{
            position: fixed;
            top: 550px;
            right: 0px;
            left: 1250px;
            bottom: 0px;
        }