    .parah{
        background: rgb(31, 127, 83);
        color: rgb(41, 211, 211);
    }
    .happy{
        background: cadetblue;
    }
    .sad{
        background: lightcoral;
    }
    .fee{
        background: rgb(236, 205, 149);
    }
    .light{
        background: rgb(116, 205, 116);
    }
    .dark{
        background: rgb(136, 78, 223);
    }
    .lab{
        background: rgb(244, 218, 72);
    }
    .special{
        background: rgb(44, 218, 131);
    }
    #heading{
        text-decoration: underline;
        color: rgb(31, 127, 83);
        font-size: 35px;
    }
    #hi{
        font-weight: bold;
        color:  rgb(31, 127, 83);
        font-size: 25px;
        font-style: italic;
        text-decoration: underline;
    }