    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: brown;
    }
    header {
        z-index: 1;
        position: sticky;
        top: 0;
        margin: 0;
    }
    nav {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(191, 68, 68);
    }
    .nav-left {
        display: flex;
        justify-content: center;
    }
    .nav-left img {
        height: 40px;
        background-repeat: no-repeat;
    }
    .nav-left h1 {
        font-size: 1.85rem;
        color: white;
    }
    .nav-right li {
        color: white;
        margin: 0 5px;
        font-size: 1.15rem;
        display: inline;
        list-style: none;
    }
    .nav-right li:hover {
        transition: .3s;
        padding: 0 3px 0 0;
    }
    .nav-right button {
        border: none;
        border-radius: 5px;
        padding: 8px;
        color: white;
        background-color: rgb(181, 38, 33);
    }
    .nav-right a {
        color: white;
        text-decoration: none;
    }
    .nav-right button:hover {
        transition: .5s;
        color: rgb(236, 174, 174);
        background-color: rgb(221, 108, 108);
    }
    .first-box h2 {
        color: white;
        margin: 20px 0;
        padding: 0 50px;
    }
    .first-box hr {
        margin: 10px 50px;
    }
    .second-box {
        display: flex;
        margin: 0 50px;
        align-items: center;
    }
    .second-box a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        border: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(213, 76, 71);
    }
    .second-box a:hover {
        cursor: pointer;
        color: rgb(236, 174, 174);
        background-color: rgb(223, 82, 71);
    }
    .second-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .assignment-box {
        background-color: rgb(211, 70, 59);
        padding: 20px;
        border-radius: 20px;
        margin: 30px 15px;
        width: 270px;
        color: white;
        transition: .2s;
    }
    .assignment-box:hover {
        background-color: rgb(221, 76, 66);
    }
    .assignment-box h2 {
        margin: 15px 0;
    }
    .assignment-box a {
        color: white;
        text-decoration: none;
    }
    .code-button {
        color: white;
        background-color: rgb(181, 38, 33);
        padding: 8px;
        border-radius: 10px;
        text-decoration: none;
    }
    .code-button:hover {
        margin: 0 5px;
        transition: .3s;
        color: rgb(236, 174, 174);
        background-color: rgb(196, 55, 44);
    }
    @media screen and (min-width: 430px) {
        .second-container {
            display: flex;
            justify-content: center;
        }
    }