    body {
        margin: 0;
        padding: 0;
    }
    .header {
        width: 100%;
        height: 50px;
        position: sticky;
        top: 0;
        backdrop-filter: blur(5rem);
        background-color: rgba(0, 0, 0, .8);
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .nav-links ul {
        width: 80%;
        padding: 14px;
        margin: 0 110px 80px;
        list-style: none;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }
    .nav-links ul li span {
        font-size: 1.15rem;
        color: rgb(223, 218, 218);
    }
    .nav-links ul li a {
        text-decoration: none;
        color: rgb(159, 156, 154);
    }
    /* first-box */
    .box-first {
        width: 100%;
        height: 600px;
        color: white;
        background-size: cover;
        background-image: url(hero\ -img1.jpeg);
    }
    .text-box1 {
        padding: 40px 0;
        text-align: center;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .text-box1 h2 {
        font-weight: 550;
        font-size: 4.15rem;
    }
    .text-box1 p {
        font-size: 1.95rem;
    }
    .text-box1 a {
        font-size: 1.55rem;
        text-decoration: none;
        color: rgb(76, 181, 217);
    }
    /* second-box */
    .box-second {
        width: 100%;
        height: 700px;
        color: black;
        background-size: cover;
        background-image: url(hero-img2.jpeg);
    }
    .text-box2 {
        padding: 430px 0;
        text-align: center;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .text-box2 h2 {
        font-weight: 550;
        font-size: 4.15rem;
    }
    .text-box2 p {
        font-size: 1.95rem;
    }
    .text-box2 a {
        font-size: 1.55rem;
        text-decoration: none;
        color: rgb(40, 163, 204);
    }
    /* third-box */
    .box-third {
        width: 100%;
        height: 700px;
        color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(hero-img3.jpeg);
    }
    .text-box3 {
        padding: 400px 0 0;
        text-align: center;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .text-box3 h2 {
        font-weight: 550;
        font-size: 4.15rem;
    }
    .text-box3 p {
        font-size: 1.95rem;
    }
    .text-box3 a {
        font-size: 1.55rem;
        text-decoration: none;
        color: rgb(76, 181, 217);
    }
    .image-container {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
    }
    .image-box1 {
        height: 500px;
        font-weight: 400;
        font-size: 1.55rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(box-img1.jpeg);
    }
    .image-box2 {
        height: 500px;
        color: white;
        font-weight: 400;
        font-size: 1.55rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(box-img2.jpeg);
    }
    .image-box2 span {
        color: red;
    }
    .image-box3 {
        height: 500px;
        font-weight: 400;
        font-size: 1.55rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(box-img3.jpeg);
    }
    .image-box4 {
        height: 500px;
        font-weight: 400;
        font-size: 1.55rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(box-img4.jpeg);
    }